<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static  'css/register.css' %}">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="left-panel">
             <form method="POST" action="{% url 'fp-password' %}" class="needs-validation" novalidate="">
                 {% csrf_token %}
            <h2>Reset New Password</h2>
            {% if error %}
                <div class="error-message" style="color: red;">{{ error }}</div>
            {% endif %}

            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

            <div class="label">PASSWORD</div>
                <input type="password" id="password" name = "password" placeholder="Password">
                <div class="label">CONFIRM PASSWORD</div>
                <input type="password" id="confirm_password" name = "confirm_password" placeholder="Confirm password">
                 <button type="submit" class="Reset password">RESET PASSWORD</button>
<!--            <a href="index.html" class="get-reset-link">Get Reset Link</a>-->
             </form>
        </div>
        <div class="right-panel">
            <h1>Welcome to GenSQL</h1>
            <p>Already have an account?</p>
            <a href="{% url 'login' %}" class="sign-in">Sign In</a>
        </div>
    </div>
</body>
</html>
